[Unit]
Description=Python listener script for Bakery 2.0

Wants=network-online.target
After=network-online.target

[Service]
Type=idle
EnvironmentFile=/etc/systemd/system/envVars
ExecStart=/home/colossuspi/Documents/pythonVenv/bin/python /home/colossuspi/Documents/python/main.py
Restart=on-failure
RestartSec=7s
User=colossuspi

[Install]
WantedBy=multi-user.target
