[Unit]
Description=Python listener script for Bakery 2.0
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/etc/systemd/system/envVars
ExecStartPre=/bin/sleep 30
ExecStart=/home/colossuspi/Documents/test/bin/python /home/colossuspi/Documents/python/main.py
Restart=on-failure
RestartSec=7s
User=colossuspi
StandardOutput=/home/colossuspi/Documents/output.log
StandardError=/home/colossuspi/Documents/error.log

[Install]
WantedBy=multi-user.target
