[Unit]
Description=Send ctrl+r key presses to regularly refresh a browser

Wants=graphical.target network.target listenerScript.service
After=graphical.target network.target listenerScript.service

[Service]
Type=idle
EnvironmentFile=/etc/systemd/system/envVars
ExecStart=/home/colossuspi/Documents/refreshd.sh
Restart=on-failure
RestartSec=10s
User=colossuspi

[Install]
WantedBy=listenerScript.service